<div class="row mt-4">
  <div class="col-md-6 d-none d-md-block" style="height: 450px">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>Cadastro de Usuário</h1>
      <img
        src=".\assets\imagensAngular\registerImage.png"
        class="my-4"
        alt=""
        width="400px"
      />
    </div>
  </div>

  <div class="col-md-6">
    <form [formGroup]="form" class="p-1" (ngSubmit)="register()">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input
            type="text"
            class="form-control is-invalid"
            [ngClass]="{
              'is-invalid':
                registro.primeiroNome?.errors && registro.primeiroNome?.touched
            }"
            formControlName="primeiroNome"
            placeholder="Insira o Primeiro nome"
          />
          <div
            *ngIf="registro.primeiroNome.errors?.required"
            class="invalid-feedback"
          >
            Obrigatório.
          </div>
          <div
            *ngIf="registro.primeiroNome.errors?.maxlength"
            class="invalid-feedback"
          >
            Máximo de 25 caracteres.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input
            type="text"
            class="form-control is-invalid"
            [ngClass]="{
              'is-invalid':
                registro.ultimoNome?.errors && registro.ultimoNome?.touched
            }"
            formControlName="ultimoNome"
            placeholder="Insira o Último nome"
          />
          <div
            *ngIf="registro.ultimoNome.errors?.required"
            class="invalid-feedback"
          >
            Obrigatório.
          </div>
          <div
            *ngIf="registro.ultimoNome.errors?.maxlength"
            class="invalid-feedback"
          >
            Máximo de 30 caracteres.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">E-mail:</label>
        <input
          class="form-control"
          type="text"
          formControlName="email"
          [ngClass]="{
            'is-invalid': registro.email?.errors && registro.email?.touched
          }"
          placeholder="Insira um e-mail válido"
        />
        <div *ngIf="registro.email.errors?.required" class="invalid-feedback">
          Obrigatório.
        </div>
        <div *ngIf="registro.email.errors?.email" class="invalid-feedback">
          Insira um e-mail válido.
        </div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input
          class="form-control"
          type="text"
          placeholder="Insira o nome de Usuário"
          formControlName="userName"
          [ngClass]="{
            'is-invalid': registro.userName?.errors && registro.userName?.touched
          }"
        />
        <div *ngIf="registro.userName.errors?.required" class="invalid-feedback">
          Obrigatório.
        </div>
        <div
          *ngIf="registro.userName.errors?.minlength"
          class="invalid-feedback"
        >
          Mínimo de 6 caracteres.
        </div>
        <div
          *ngIf="registro.userName.errors?.maxlength"
          class="invalid-feedback"
        >
          Máximo de 15 caracteres.
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input
            class="form-control"
            type="password"
            placeholder="Digite uma Senha"
            formControlName="password"
            [ngClass]="{
              'is-invalid':
                registro.password?.errors && registro.password?.touched
            }"
          />
          <div
            *ngIf="registro.password.errors?.required"
            class="invalid-feedback"
          >
            Obrigatório.
          </div>
          <div
            *ngIf="registro.password.errors?.minlength"
            class="invalid-feedback"
          >
            Mínimo de 8 caracteres.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input
            class="form-control"
            type="password"
            placeholder="Confirme a Senha"
            formControlName="confirmaPassword"
            [ngClass]="{
              'is-invalid':
                registro.confirmaPassword?.errors &&
                registro.confirmaPassword?.touched
            }"
          />
          <div
            *ngIf="registro.confirmaPassword.errors?.required"
            class="invalid-feedback"
          >
            Obrigatório.
          </div>
          <div
            *ngIf="registro.confirmaPassword.errors?.mustMatch"
            class="invalid-feedback"
          >
            Senhas não são iguais.
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="form-group">
          <div class="form-check">
            <input
              (click)="termoaceito()"
              type="checkbox"
              value="{{ checkbox }}"
              class="form-check-input"
              id="exampleCheck1"
              [ngClass]="{
                'is-invalid': registro.termo?.errors && registro.termo?.touched
              }"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Aceito os termos de contrato
            </label>
            <!-- <div
              *ngIf="registro.termo.errors?.pattern"
              class="invalid-feedback"
            >
              Para registrar, é preciso concordar com os termos.
            </div> -->
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button
            [disabled]="!form.valid"
            class="btn btn-lg btn-success btn-block px-5"
            type="submit"
          >
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" (click)="resetForm()">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>
    <p>Form value: {{ form.value | json }}</p>
    <p>Form value: {{ form.status | json }}</p>
  </div>
</div>
